#main-header {
  background: #fff;
  height: 68px;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.header-content {
  width: 100%;
  max-width: 980px;

  margin: 0 auto;
  padding: 0 30px;
  padding-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
